.main-gradient {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  width: 100%;
}

.header-login {
  display: block;
  text-align: center;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  background: #f1f1f1;
  padding: 4px;
  margin-bottom: 10px;
}

.tab-item {
  width: 100%;
  text-align: center;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
  color: #555;
}

.tab-item.active {
  background: white;
  color: black;
  font-weight: 600;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.label-input {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}

.form-container {
  width: 100%;
  margin: 2.5rem auto 0;
  margin-top: 5px !important;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4B5563;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #22C55E;
}

.input-right-icon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #6B7280;
  cursor: pointer;
}

.footer-login-img {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.main-login-container {
  width: 527px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.login-page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: 1px solid #D1D5DB;
  border-radius: 0.5rem;
  outline: none;
  height: 46px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.875rem;
  gap: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #4B5563;
  width: 100%;
}

.remember-me input {
  width: 1rem;
  height: 1rem;
  accent-color: #22C55E;
}

.forgot-password {
  color: #22C55E;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-login-img {
  position: absolute;
  top: 0;
  z-index: -1;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background: radial-gradient(50% 50% at 50% 50%, #27AE60 0%, #008337 100%);
  color: #FFFFFF;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.25s ease;
  display: flex;
  justify-content: center;
}

.img-eye {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 3000px) and (min-width: 480px) {
  .top-logo-img,
  .login-with,
  .social-img,
  .g-icons,
  .img-logo,
  .terms-services {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .footer-login-img {
    display: none;
  }

  .main-login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0;
    margin: 0 auto;
    padding: 0 34px;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    background: #f1f1f1;
    padding: 4px;
    margin-bottom: 10px;
  }

  .nav-login-img {
    display: none;
  }

  .top-logo-img {
    position: absolute;
    top: -23px;
    z-index: -1;
    width: 100%;
  }

  .logos-img {
    display: flex;
    justify-content: space-between;
  }

  .img-logo {
    padding: 1.5rem;
  }

  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background: radial-gradient(50% 50% at 50% 50%, #27AE60 0%, #008337 100%);
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.25s ease;
    display: flex;
    justify-content: center;
  }

  .g-icons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  .button-g {
    border-radius: 8px;
    border: 1px solid rgba(232, 233, 234, 1);
    padding: 12px 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .social-img {
    margin-right: 7px;
  }

  .terms-condition {
    font-family: Roboto;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
  }

  .terms-services {
    margin-top: 0.5rem;
  }
}
