.top-selling {
  display: flex;
  gap: 20px;
  width: 100%;
}


.card {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
}


.see-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}


.stock-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.stock-table th,
.stock-table td {
  padding: 12px 16px;
  text-align: left;
}

.stock-table thead th {
  color: #777;
  font-weight: 600;
}


.low-stock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.low-stock img {
  width: 48px;
  height: 48px;
}

.rate-dummys {
  display: flex;
  /* flex-direction: column; */
  gap: 4px;
  justify-content: space-between;
  width: 100%;
}

.item-names {
  font-weight: 600;
}
.item-alert{
    background-color: rgba(254, 236, 235, 1);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 22px;
    border-radius: 16px;
    padding: 2px 8px 2px 4px;
}
@media (max-width:768px) {
    .top-selling{
        display: grid;}
}